.a{
    color: white;
    background-color:rgb(0, 0, 0);
    text-align: center;
}
body{
    background-image: url('ima/back.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

   
  






